@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: none;

}

.containerHome {
  background-color: #004f8c;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  animation: move 15s ease infinite;
  height: 100vh;
  overflow-y: hidden;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
    background-color: #004f8c;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header h1 {
  font-size: 70px;
  font-weight: 900;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 span {
  margin-right: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header h1 .F {
  color: #4169E1;
  transform: rotate(-40deg);
}
.header h1 .U {
  color: #1E90FF;
  transform: rotate(-25deg);
}
.header h1 .N {
  color: #6495ED;
  transform: rotate(-10deg);
}
.header h1 .G {
  color: #4682B4;
  transform: rotate(0deg);
}
.header h1 .R {
  color: #00BFFF;
  transform: rotate(10deg);
}
.header h1 .I {
  color: #87CEFA;
  transform: rotate(25deg);
}
.header h1 .D {
  color: #7B68EE;
  transform: rotate(40deg);
}

.play-button {
  width: 80px;
  height: 80px;
  background: #004f8c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  margin: 150px auto 0;
}


.play-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}



.play-icon {
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-left: 4px;
  transition: 0.5s;
}
